*,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: rgb(71, 62, 62);    
}

.App {
    width: 100vw !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    padding-bottom: 2em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh 0;
}

.search h2 {
    width: 30vw !important;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 300;
    font-size: 2em;
}

.search-box input {
    width: 15vw !important;
    height: 4vh;
    border: none;
    outline: none;
    padding: 0 .5em;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.search-box {
    display: flex;
    gap: 2em;
    width: 30vw;
}

.category {
    gap: 2em;
    width: 15vw;
    color: rgb(48, 45, 45);
}

.category input {
    height: 4vh;
}

button {
    width: 6em;
    font-size: 1em;
    height: 4vh;
    border: none;
    outline: none;
    font-size: 1.1em;
    border-radius: .5em;
}

@media screen and (min-width: 500px){
    .container {
        width: 100vw;
    }

    .search {
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .search h2 {
        width: 25vw;
        font-size: 1.5em;
    }

    .search-box {
        width: 60vw;
        display: flex;
        justify-content: center;
    }

    .search-box button {
        width: 5em !important;
    }

    .search-box input {
        width: 10em ;
        font-size: 1em;
    }

    .App {
        width: 90vw;
        column-gap: 3vw;
        padding: 0;
        margin: 0;
        padding-bottom: 2vh;
}
}

@media screen and (min-width: 750px){
    .App {
        width: 90vw ;
        column-gap: 2em;   
    }
}