*,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 62, 62);
}

.App {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(71, 62, 62);
    padding: 2em;
    overflow:-moz-hidden-unscrollable;
    gap: 2em;
}

.search {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    align-items: center;
}

.search h2 {
    width: 30vw;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 300;
    font-size: 2em;
}

.search-box input {
    width: 15vw;
    height: 4vh;
    border: none;
    outline: none;
    padding: 0 .5em;
    font-size: 1.2em;
    border-radius: 0.2em;
}

.search-box {
    display: flex;
    gap: 2em;
    width: 30vw;
}

.category {
    display: flex;
    gap: 2em;
    width: 30vw;
}

.category input {
    width: 15vw;
    height: 4vh;
}

button {
    width: 6em;
    font-size: 1em;
    height: 4vh;
    background-color: bisque;
    border: none;
    outline: none;
    font-size: 1.1em;
    border-radius: .5em;
}